# The Data
to see where we got the data go here: https://www.ndbc.noaa.gov/station_history.php?station=42040

In [1]:
import pandas as pd
import numpy as np
import datetime

This is the first set of data from 1995

In [2]:
from utils import read_file, build_median_df
df1995 = read_file('data/buoy_data_1995.txt', has_second_header=False) #allows you to a table for each year
df1995.head(6)#allows you to print certain sections of the data0

data/buoy_data_1995.txt has 648 entries

,YY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,timestamp
0,95,12,4,22,240,5.2,6.5,0.3,2.9,3.2,999,1015.0,21.4,21.5,18.8,99.0,1995-12-04 22:00:00
1,95,12,4,23,248,3.7,4.4,0.4,3.4,3.5,999,1015.0,21.2,21.3,19.1,99.0,1995-12-04 23:00:00
2,95,12,5,0,251,3.3,3.9,0.4,3.2,3.5,999,1015.1,20.7,21.2,19.3,99.0,1995-12-05 00:00:00
3,95,12,5,1,247,3.1,3.6,0.4,3.8,3.5,999,1015.7,21.1,21.4,20.0,99.0,1995-12-05 01:00:00
4,95,12,5,2,236,3.0,3.5,0.4,3.6,3.5,999,1015.7,21.2,21.9,20.2,99.0,1995-12-05 02:00:00
5,95,12,5,3,237,1.7,1.9,0.4,3.4,3.5,999,1015.9,21.2,21.9,20.1,99.0,1995-12-05 03:00:00

In [3]:
df1996 = read_file('data/buoy_data_1996.txt', has_second_header=False) #allows you to a table for each year
df1996.head(6)#allows you to print certain sections of the data0

data/buoy_data_1996.txt has 8784 entries

,YY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,timestamp
0,96,1,1,0,339,6.6,7.6,1.30,4.35,4.41,999,1006.9,18.3,19.9,16.0,99.0,1996-01-01 00:00:00
1,96,1,1,1,348,6.3,7.5,1.08,7.69,4.53,999,1007.0,19.0,20.1,15.4,99.0,1996-01-01 01:00:00
2,96,1,1,2,27,4.4,5.7,1.03,7.69,4.68,999,1006.7,19.0,21.1,15.4,99.0,1996-01-01 02:00:00
3,96,1,1,3,73,5.3,6.0,1.02,7.69,5.27,999,1006.6,19.5,21.2,16.1,99.0,1996-01-01 03:00:00
4,96,1,1,4,66,4.2,5.1,0.97,7.14,5.40,999,1007.1,19.9,21.2,16.2,99.0,1996-01-01 04:00:00
5,96,1,1,5,63,3.8,4.6,0.97,7.14,5.47,999,1006.3,19.8,21.2,16.3,99.0,1996-01-01 05:00:00

In [4]:
df1997 = read_file('data/buoy_data_1997.txt', has_second_header=False) #allows you to a table for each year
df1997.head(6)#allows you to print certain sections of the data0

data/buoy_data_1997.txt has 8760 entries

,YY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,timestamp
0,97,1,1,0,118,6.3,7.6,0.69,4.76,3.98,999,1020.4,22.0,21.9,20.6,99.0,1997-01-01 00:00:00
1,97,1,1,1,119,5.8,6.7,0.77,4.35,4.08,999,1021.0,22.2,21.9,20.8,99.0,1997-01-01 01:00:00
2,97,1,1,2,137,7.0,9.4,0.75,4.76,4.07,999,1021.0,21.5,21.9,20.4,99.0,1997-01-01 02:00:00
3,97,1,1,3,142,7.1,8.6,0.80,5.00,4.03,999,1020.5,21.9,21.6,20.4,99.0,1997-01-01 03:00:00
4,97,1,1,4,167,6.1,7.2,0.75,4.76,3.94,999,1020.7,21.9,21.5,20.2,99.0,1997-01-01 04:00:00
5,97,1,1,5,248,4.1,5.5,0.71,4.76,4.15,999,1020.7,20.7,21.4,18.0,99.0,1997-01-01 05:00:00

In [5]:
df1998 = read_file('data/buoy_data_1998.txt', has_second_header=False) #allows you to a table for each year
df1998.head(6)#allows you to print certain sections of the data0

data/buoy_data_1998.txt has 8784 entries

,YY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,timestamp
0,98,1,1,0,3,7.4,9.1,1.01,5.00,4.31,999,1032.4,13.1,20.4,4.6,99.0,1998-01-01 00:00:00
1,98,1,1,1,3,8.1,10.1,1.09,4.76,4.31,999,1032.9,13.1,20.3,4.0,99.0,1998-01-01 01:00:00
2,98,1,1,2,12,7.4,9.3,1.14,5.00,4.33,999,1033.4,12.9,20.3,4.1,99.0,1998-01-01 02:00:00
3,98,1,1,3,11,7.6,9.6,0.96,4.76,4.19,999,1033.7,12.9,19.9,3.7,99.0,1998-01-01 03:00:00
4,98,1,1,4,16,7.7,9.9,0.92,4.55,4.19,999,1034.0,12.8,19.9,4.4,99.0,1998-01-01 04:00:00
5,98,1,1,5,26,8.1,10.2,0.91,5.00,4.11,999,1033.6,12.6,19.9,5.2,99.0,1998-01-01 05:00:00

In [6]:
df1999 = read_file('data/buoy_data_1999.txt', has_second_header=False) #allows you to a table for each year
df1999.head(6)#allows you to print certain sections of the data0

data/buoy_data_1999.txt has 6984 entries

,YYYY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,timestamp
0,1999,1,1,0,999,99.0,99.0,0.45,4.00,3.63,999,1021.2,18.4,22.7,999.0,99.0,1999-01-01 00:00:00
1,1999,1,1,1,999,99.0,99.0,0.44,4.00,3.63,999,1021.3,18.8,22.7,999.0,99.0,1999-01-01 01:00:00
2,1999,1,1,2,999,99.0,99.0,0.40,3.85,3.61,999,1022.0,18.9,22.7,999.0,99.0,1999-01-01 02:00:00
3,1999,1,1,3,999,99.0,99.0,0.39,4.17,3.65,999,1021.9,19.0,22.7,999.0,99.0,1999-01-01 03:00:00
4,1999,1,1,4,999,99.0,99.0,0.34,3.85,3.62,999,1021.8,19.1,22.7,999.0,99.0,1999-01-01 04:00:00
5,1999,1,1,5,999,99.0,99.0,0.39,4.17,3.60,999,1021.8,19.2,22.7,999.0,99.0,1999-01-01 05:00:00

In [7]:
df2000 = read_file('data/buoy_data_2000.txt', has_second_header=False) #allows you to a table for each year
df2000.head(6)#allows you to print certain sections of the data0

data/buoy_data_2000.txt has 8172 entries

,YYYY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2000,1,1,0,108,2.1,2.4,0.59,4.55,4.14,999,1018.0,20.6,20.8,16.0,99.0,NaN,2000-01-01 00:00:00
1,2000,1,1,1,151,3.4,4.1,0.64,4.55,4.34,999,1018.3,20.7,20.9,16.3,99.0,NaN,2000-01-01 01:00:00
2,2000,1,1,2,171,3.3,4.0,0.57,4.76,4.12,999,1018.7,20.9,21.0,16.5,99.0,NaN,2000-01-01 02:00:00
3,2000,1,1,3,171,4.3,4.8,0.57,5.00,4.10,999,1018.6,20.9,21.1,16.7,99.0,NaN,2000-01-01 03:00:00
4,2000,1,1,4,183,4.1,5.0,0.53,5.00,4.01,999,1018.9,21.1,21.1,16.6,99.0,NaN,2000-01-01 04:00:00
5,2000,1,1,5,187,4.7,5.7,0.54,4.76,4.06,999,1019.0,21.2,21.2,16.9,99.0,NaN,2000-01-01 05:00:00

In [8]:
df2001 = read_file('data/buoy_data_2001.txt', has_second_header=False) #allows you to a table for each year
df2001.head(6)#allows you to print certain sections of the data0

data/buoy_data_2001.txt has 8760 entries

,YYYY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2001,1,1,0,11,4.1,6.2,0.46,4.35,3.92,40,1025.9,6.3,19.7,-0.9,99.0,99.0,2001-01-01 00:00:00
1,2001,1,1,1,19,4.0,6.3,0.40,4.35,3.73,56,1026.0,6.8,19.7,-0.4,99.0,99.0,2001-01-01 01:00:00
2,2001,1,1,2,75,6.1,8.0,0.43,4.35,3.67,55,1025.4,7.5,19.7,0.4,99.0,99.0,2001-01-01 02:00:00
3,2001,1,1,3,77,4.1,6.3,0.44,4.00,3.48,54,1026.1,8.0,19.7,0.9,99.0,99.0,2001-01-01 03:00:00
4,2001,1,1,4,100,2.4,4.7,0.42,3.13,3.46,55,1026.1,8.5,19.7,1.2,99.0,99.0,2001-01-01 04:00:00
5,2001,1,1,5,119,2.8,4.4,0.43,4.17,3.49,65,1025.9,9.1,19.6,2.3,99.0,99.0,2001-01-01 05:00:00

In [9]:
df2002 = read_file('data/buoy_data_2002.txt', has_second_header=False) #allows you to a table for each year
df2002.head(6)#allows you to print certain sections of the data0

data/buoy_data_2002.txt has 8760 entries

,YYYY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2002,1,1,0,17,6.2,8.1,0.96,4.76,4.02,51,1019.6,11.8,21.3,3.6,99.0,99.0,2002-01-01 00:00:00
1,2002,1,1,1,30,6.5,8.4,0.90,4.76,4.03,58,1020.0,11.9,21.3,2.8,99.0,99.0,2002-01-01 01:00:00
2,2002,1,1,2,28,6.0,8.1,0.87,4.35,3.94,32,1020.4,12.1,21.3,3.6,99.0,99.0,2002-01-01 02:00:00
3,2002,1,1,3,28,5.4,8.0,0.83,4.76,4.00,40,1020.4,11.9,21.4,3.7,99.0,99.0,2002-01-01 03:00:00
4,2002,1,1,4,22,5.6,7.5,0.93,4.55,4.01,38,1020.4,11.6,21.5,4.1,99.0,99.0,2002-01-01 04:00:00
5,2002,1,1,5,18,5.4,7.0,0.85,4.55,3.88,40,1020.6,11.5,21.5,4.8,99.0,99.0,2002-01-01 05:00:00

In [10]:
df2003 = read_file('data/buoy_data_2003.txt', has_second_header=False) #allows you to a table for each year
df2003.head(6)#allows you to print certain sections of the data0

data/buoy_data_2003.txt has 8760 entries

,YYYY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2003,1,1,0,248,14.2,17.1,3.33,7.69,6.13,210,1004.7,17.6,20.0,12.8,99.0,99.0,2003-01-01 00:00:00
1,2003,1,1,1,246,13.1,16.2,3.29,7.69,6.12,210,1005.4,17.6,19.9,13.7,99.0,99.0,2003-01-01 01:00:00
2,2003,1,1,2,257,12.6,15.3,3.56,8.33,6.39,190,1006.1,17.2,20.0,12.5,99.0,99.0,2003-01-01 02:00:00
3,2003,1,1,3,261,12.1,14.3,3.58,9.09,6.48,171,1006.7,16.5,20.0,13.6,99.0,99.0,2003-01-01 03:00:00
4,2003,1,1,4,251,11.8,14.4,3.46,8.33,6.48,199,1006.7,16.3,20.1,12.5,99.0,99.0,2003-01-01 04:00:00
5,2003,1,1,5,262,14.1,17.5,3.27,9.09,6.19,172,1006.4,15.9,20.2,13.0,99.0,99.0,2003-01-01 05:00:00

In [11]:
df2004 = read_file('data/buoy_data_2004.txt', has_second_header=False) #allows you to a table for each year
df2004.head(6)#allows you to print certain sections of the data0

data/buoy_data_2004.txt has 7553 entries

,YYYY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2004,1,1,0,61,5.2,6.7,0.86,5.56,4.34,102,1026.2,18.4,21.5,13.2,99.0,99.0,2004-01-01 00:00:00
1,2004,1,1,1,62,5.3,6.4,0.87,5.56,4.32,97,1026.6,18.3,21.4,13.6,99.0,99.0,2004-01-01 01:00:00
2,2004,1,1,2,65,4.6,5.7,0.90,5.56,4.31,101,1026.8,18.3,21.4,13.6,99.0,99.0,2004-01-01 02:00:00
3,2004,1,1,3,60,4.1,5.2,0.79,5.56,4.19,99,1027.3,18.4,21.4,13.5,99.0,99.0,2004-01-01 03:00:00
4,2004,1,1,4,49,4.4,5.4,0.78,5.26,4.30,104,1027.3,18.4,21.1,12.7,99.0,99.0,2004-01-01 04:00:00
5,2004,1,1,5,60,4.1,4.9,0.72,5.26,4.17,99,1026.2,18.7,21.1,12.4,99.0,99.0,2004-01-01 05:00:00

In [12]:
df2005 = read_file('data/buoy_data_2005.txt', has_second_header=False) #allows you to a table for each year
df2005.head(6)#allows you to print certain sections of the data0

data/buoy_data_2005.txt has 8251 entries

,YYYY,MM,DD,hh,mm,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2005,1,1,0,0,88,5.6,6.9,1.93,8.33,6.02,150,1024.3,20.6,21.4,18.2,99.0,99.0,2005-01-01 00:00:00
1,2005,1,1,1,0,95,5.8,6.9,1.88,9.09,6.18,149,1025.1,20.6,21.4,18.6,99.0,99.0,2005-01-01 01:00:00
2,2005,1,1,2,0,102,7.2,8.4,1.78,9.09,5.73,153,1025.0,20.6,21.4,18.5,99.0,99.0,2005-01-01 02:00:00
3,2005,1,1,3,0,107,7.0,8.0,2.00,9.09,6.06,153,1025.2,20.7,21.4,18.7,99.0,99.0,2005-01-01 03:00:00
4,2005,1,1,4,0,107,6.4,7.6,2.01,9.09,5.81,156,1025.6,21.2,21.4,18.7,99.0,99.0,2005-01-01 04:00:00
5,2005,1,1,5,0,112,6.0,7.1,1.83,9.09,5.64,147,1025.6,21.1,21.4,18.8,99.0,99.0,2005-01-01 05:00:00

In [13]:
df2006 = read_file('data/buoy_data_2006.txt', has_second_header=False) #allows you to a table for each year
df2006.head(6)#allows you to print certain sections of the data0

data/buoy_data_2006.txt has 7944 entries

,YYYY,MM,DD,hh,mm,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2006,1,1,0,0,999,7.4,9.1,0.65,5.26,4.45,163,1014.1,19.0,22.2,999.0,99.0,99.0,2006-01-01 00:00:00
1,2006,1,1,1,0,999,7.3,8.6,0.68,5.26,4.21,123,1014.3,18.8,22.2,999.0,99.0,99.0,2006-01-01 01:00:00
2,2006,1,1,2,0,999,6.1,7.4,0.64,5.00,4.07,176,1014.0,19.3,22.2,999.0,99.0,99.0,2006-01-01 02:00:00
3,2006,1,1,3,0,999,5.2,6.1,0.66,5.26,4.30,158,1014.2,20.4,22.2,999.0,99.0,99.0,2006-01-01 03:00:00
4,2006,1,1,4,0,999,5.7,6.6,0.66,5.56,4.34,139,1014.2,21.1,22.2,999.0,99.0,99.0,2006-01-01 04:00:00
5,2006,1,1,5,0,999,3.8,5.0,0.72,5.26,4.55,153,1013.5,21.4,22.1,999.0,99.0,99.0,2006-01-01 05:00:00

In [14]:
#has incomplete data. 999 points are NaN

df2007 = read_file('data/buoy_data_2007.txt', has_second_header=True) #allows you to a table for each year
df2007.head(6)#allows you to print certain sections of the data0

data/buoy_data_2007.txt has 8677 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2007,1,1,0,0,314,4.2,5.2,1.34,8.33,5.78,156,1017.0,18.8,21.5,15.4,99.0,99.0,2007-01-01 00:00:00
1,2007,1,1,1,0,296,3.7,4.7,1.28,7.14,5.44,155,1017.9,18.4,21.5,15.2,99.0,99.0,2007-01-01 01:00:00
2,2007,1,1,2,0,308,4.7,5.7,1.18,7.69,5.48,158,1017.9,18.8,21.4,14.0,99.0,99.0,2007-01-01 02:00:00
3,2007,1,1,3,0,306,6.1,7.1,1.15,7.69,5.37,141,1018.1,18.8,21.2,12.3,99.0,99.0,2007-01-01 03:00:00
4,2007,1,1,4,0,303,5.0,6.0,1.20,7.69,5.31,143,1018.6,19.1,21.1,12.6,99.0,99.0,2007-01-01 04:00:00
5,2007,1,1,5,0,299,6.2,7.3,1.14,8.33,5.20,147,1018.5,19.0,21.1,13.7,99.0,99.0,2007-01-01 05:00:00

In [15]:
df2008 = read_file('data/buoy_data_2008.txt', has_second_header=True) #allows you to a table for each year
df2008.head(6)#allows you to print certain sections of the data0

data/buoy_data_2008.txt has 6520 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2008,1,1,0,50,89,2.5,3.5,0.75,5.56,4.49,107,9999.0,20.4,22.9,12.0,99.0,99.0,2008-01-01 00:50:00
1,2008,1,1,1,50,62,1.9,2.8,0.73,5.26,4.39,97,9999.0,20.4,22.7,12.0,99.0,99.0,2008-01-01 01:50:00
2,2008,1,1,2,50,28,2.1,3.3,0.73,5.26,4.55,95,9999.0,20.4,22.7,12.3,99.0,99.0,2008-01-01 02:50:00
3,2008,1,1,3,50,12,2.3,3.2,0.64,5.56,4.51,113,9999.0,20.3,22.7,12.0,99.0,99.0,2008-01-01 03:50:00
4,2008,1,1,4,50,349,1.9,2.5,0.66,5.56,4.50,110,9999.0,20.3,22.7,12.1,99.0,99.0,2008-01-01 04:50:00
5,2008,1,1,5,50,330,1.9,2.5,0.62,5.26,4.55,106,9999.0,20.3,22.7,12.5,99.0,99.0,2008-01-01 05:50:00

In [16]:
df2009 = read_file('data/buoy_data_2009.txt', has_second_header=True) #allows you to a table for each year
df2009.head(6)#allows you to print certain sections of the data0

data/buoy_data_2009.txt has 6649 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2008,12,31,23,50,348,8.6,10.5,0.92,4.76,3.69,999,1020.7,16.5,20.1,999.0,99.0,99.0,2008-12-31 23:50:00
1,2009,1,1,0,50,356,9.2,11.0,0.94,4.55,3.68,999,1021.0,17.0,20.3,999.0,99.0,99.0,2009-01-01 00:50:00
2,2009,1,1,1,50,15,8.8,10.9,1.08,4.76,3.84,999,1021.7,16.7,20.3,999.0,99.0,99.0,2009-01-01 01:50:00
3,2009,1,1,2,50,10,9.3,11.9,1.32,5.26,4.22,999,1021.9,16.0,20.4,999.0,99.0,99.0,2009-01-01 02:50:00
4,2009,1,1,3,50,27,9.4,11.6,1.41,5.56,4.37,999,1022.1,15.3,20.6,999.0,99.0,99.0,2009-01-01 03:50:00
5,2009,1,1,4,50,31,9.6,11.4,1.57,5.88,4.58,999,1021.8,14.9,20.8,999.0,99.0,99.0,2009-01-01 04:50:00

In [17]:
df2010 = read_file('data/buoy_data_2010.txt', has_second_header=True) #allows you to a table for each year
df2010#allows you to print certain sections of the data0

data/buoy_data_2010.txt has 6182 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2010,3,31,16,50,165,1.9,3.1,0.05,99.00,2.60,999,1020.6,17.1,17.9,11.8,99.0,99.0,2010-03-31 16:50:00
1,2010,3,31,17,50,177,2.5,4.0,0.05,99.00,2.47,999,1020.1,17.4,18.6,12.1,99.0,99.0,2010-03-31 17:50:00
2,2010,3,31,18,50,173,3.7,4.3,0.04,99.00,2.72,999,1019.6,17.6,19.5,12.6,99.0,99.0,2010-03-31 18:50:00
3,2010,3,31,19,50,177,4.0,5.2,0.07,99.00,2.27,999,1019.4,17.8,19.4,12.9,99.0,99.0,2010-03-31 19:50:00
4,2010,3,31,20,50,173,4.9,6.0,0.12,99.00,2.22,999,1018.9,17.9,19.9,11.6,99.0,99.0,2010-03-31 20:50:00
5,2010,3,31,21,50,178,5.0,6.1,0.16,99.00,2.38,999,1018.6,18.1,19.5,12.0,99.0,99.0,2010-03-31 21:50:00
6,2010,3,31,22,50,172,7.5,9.1,0.24,99.00,2.26,999,1018.1,18.0,18.9,12.4,99.0,99.0,2010-03-31 22:50:00
7,2010,4,1,16,50,129,3.1,3.7,0.20,99.00,3.50,999,1020.8,18.7,19.1,14.2,99.0,99.0,2010-04-01 16:50:00
8,2010,4,1,17,50,116,2.0,2.5,0.23,99.00,3.85,999,1020.1,18.8,19.7,13.1,99.0,99.0,2010-04-01 17:50:00
9,2010,4,1,18,50,110,3.1,3.6,0.22,99.00,3.93,999,1019.3,18.9,20.5,13.0,99.0,99.0,2010-04-01 18:50:00
10,2010,4,1,19,50,99,3.3,3.9,0.19,99.00,3.49,999,1018.7,19.0,20.8,12.6,99.0,99.0,2010-04-01 19:50:00
11,2010,4,1,20,50,108,3.8,4.6,0.24,99.00,4.78,999,1018.3,19.0,20.8,12.5,99.0,99.0,2010-04-01 20:50:00
12,2010,4,1,21,50,118,5.0,5.7,0.21,99.00,3.98,999,1017.6,19.1,20.1,12.8,99.0,99.0,2010-04-01 21:50:00
13,2010,4,1,22,50,121,5.6,6.3,0.20,99.00,3.61,999,1017.4,19.0,19.7,14.4,99.0,99.0,2010-04-01 22:50:00
14,2010,4,1,23,50,121,5.3,6.0,0.22,99.00,2.95,999,1017.4,18.8,19.6,15.2,99.0,99.0,2010-04-01 23:50:00
15,2010,4,2,0,50,120,6.0,6.6,0.25,2.06,3.02,999,1017.2,18.6,19.2,15.3,99.0,99.0,2010-04-02 00:50:00
16,2010,4,2,1,50,120,6.5,7.5,0.30,2.60,2.73,999,1017.4,18.5,19.2,15.0,99.0,99.0,2010-04-02 01:50:00
17,2010,4,2,2,50,131,6.0,6.7,0.36,2.60,2.74,999,1018.2,18.5,19.2,14.9,99.0,99.0,2010-04-02 02:50:00
18,2010,4,2,3,50,126,6.6,7.3,0.43,2.60,2.77,999,1017.6,18.4,19.0,15.2,99.0,99.0,2010-04-02 03:50:00
19,2010,4,2,4,50,129,6.9,8.2,0.49,3.13,2.97,999,1016.9,18.3,19.2,16.0,99.0,99.0,2010-04-02 04:50:00
20,2010,4,2,5,50,132,6.8,8.5,0.62,3.23,3.24,999,1016.5,18.3,19.0,16.2,99.0,99.0,2010-04-02 05:50:00
21,2010,4,2,6,50,139,6.5,7.6,0.61,3.70,3.43,999,1016.3,18.3,18.9,16.3,99.0,99.0,2010-04-02 06:50:00
22,2010,4,2,7,50,132,6.6,7.6,0.59,4.00,3.57,999,1015.7,18.3,18.9,16.5,99.0,99.0,2010-04-02 07:50:00
23,2010,4,2,8,50,139,6.2,7.3,0.61,4.35,3.70,999,1015.5,18.3,19.0,16.5,99.0,99.0,2010-04-02 08:50:00
24,2010,4,2,9,50,133,6.6,7.7,0.65,4.55,3.88,999,1015.3,18.3,19.4,16.4,99.0,99.0,2010-04-02 09:50:00
25,2010,4,2,10,50,137,7.3,8.9,0.60,4.76,3.95,999,1015.2,18.3,19.1,16.3,99.0,99.0,2010-04-02 10:50:00
26,2010,4,2,11,50,141,8.2,9.5,0.70,4.55,4.13,999,1015.4,18.2,19.0,16.1,99.0,99.0,2010-04-02 11:50:00
27,2010,4,2,12,50,144,7.7,9.0,0.70,5.00,4.18,142,1015.6,18.3,18.9,15.7,99.0,99.0,2010-04-02 12:50:00
28,2010,4,2,13,50,132,8.5,10.4,0.83,5.26,4.23,148,1015.7,18.3,18.8,14.5,99.0,99.0,2010-04-02 13:50:00
29,2010,4,2,14,50,127,8.2,9.5,0.86,5.00,4.16,140,1016.2,18.3,18.8,14.1,99.0,99.0,2010-04-02 14:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6152,2010,12,30,17,50,170,11.5,13.1,2.49,7.69,5.56,172,1013.1,21.1,20.8,17.7,99.0,99.0,2010-12-30 17:50:00
6153,2010,12,30,18,50,165,10.0,12.4,2.47,7.69,5.56,165,1012.3,21.2,20.9,18.0,99.0,99.0,2010-12-30 18:50:00
6154,2010,12,30,19,50,169,10.4,12.3,2.42,7.14,5.63,165,1011.8,21.3,20.9,18.0,99.0,99.0,2010-12-30 19:50:00
6155,2010,12,30,20,50,165,9.5,11.0,2.30,7.14,5.41,172,1011.8,21.4,20.9,18.3,99.0,99.0,2010-12-30 20:50:00
6156,2010,12,30,21,50,163,9.2,10.8,2.20,7.14,5.43,169,1011.7,21.5,20.8,18.7,99.0,99.0,2010-12-30 21:50:00
6157,2010,12,30,22,50,156,8.4,9.9,1.93,7.14,5.22,166,1012.0,21.4,21.0,18.9,99.0,99.0,2010-12-30 22:50:00
6158,2010,12,30,23,50,156,9.6,11.4,2.11,7.69,5.55,165,1012.2,21.5,21.1,19.0,99.0,99.0,2010-12-30 23:50:00
6159,2010,12,31,0,50,155,9.1,10.4,2.19,7.14,5.57,159,1012.6,21.4,21.1,19.0,99.0,99.0,2010-12-31 00:50:00
6160,2010,12,31,1,50,153,7.7,9.4,2.10,7.14,5.53,155,1013.3,21.5,21.0,19.3,99.0,99.0,2010-12-31 01:50:00
6161,2010,12,31,2,50,152,8.5,10.1,1.96,6.67,5.39,163,1013.6,21.5,21.1,19.4,99.0,99.0,2010-12-31 02:50:00
6162,2010,12,31,3,50,145,8.8,10.4,1.83,7.69,5.39,156,1013.5,21.5,21.0,19.5,99.0,99.0,2010-12-31 03:50:00
6163,2010,12,31,4,50,144,9.9,11.9,2.01,7.69,5.56,153,1013.5,21.5,20.9,19.3,99.0,99.0,2010-12-31 04:50:00
6164,2010,12,31,5,50,147,9.4,11.2,1.99,7.14,5.42,156,1013.6,21.4,20.7,19.2,99.0,99.0,2010-12-31 05:50:00
6165,2010,12,31,6,50,144,11.6,14.4,2.07,7.14,5.41,143,1012.5,21.3,20.8,19.0,99.0,99.0,2010-12-31 06:50:00
6166,2010,12,31,7,50,140,10.4,99.0,99.00,99.00,99.00,999,9999.0,21.4,NaN,17.7,99.0,99.0,2010-12-31 07:50:00
6167,2010,12,31,8,50,141,10.3,12.5,2.30,7.14,5.53,158,1012.6,21.4,20.9,19.0,99.0,99.0,2010-12-31 08:50:00
6168,2010,12,31,9,50,140,10.3,12.4,2.28,7.14,5.60,142,1012.8,21.6,21.0,19.1,99.0,99.0,2010-12-31 09:50:00
6169,2010,12,31,10,50,141,10.2,11.7,2.13,7.69,5.36,156,1013.1,21.6,21.1,19.2,99.0,99.0,2010-12-31 10:50:00
6170,2010,12,31,11,50,138,9.8,11.6,2.17,7.14,5.45,146,1013.7,21.7,21.2,19.2,99.0,99.0,2010-12-31 11:50:00
6171,2010,12,31,12,50,134,9.4,11.2,2.14,7.14,5.67,146,1014.5,21.8,21.2,19.1,99.0,99.0,2010-12-31 12:50:00
6172,2010,12,31,13,50,133,10.1,11.6,2.24,7.69,5.56,151,1014.7,21.8,21.3,19.1,99.0,99.0,2010-12-31 13:50:00
6173,2010,12,31,14,50,139,11.5,13.5,2.20,7.14,5.48,146,1014.9,21.8,21.1,18.9,99.0,99.0,2010-12-31 14:50:00
6174,2010,12,31,15,50,140,10.8,13.1,2.43,7.69,5.84,132,1015.6,21.9,21.0,19.1,99.0,99.0,2010-12-31 15:50:00
6175,2010,12,31,16,50,137,10.5,12.9,2.36,7.69,5.74,129,1015.3,21.8,21.0,19.1,99.0,99.0,2010-12-31 16:50:00
6176,2010,12,31,17,50,146,11.1,13.3,2.31,7.14,5.68,145,1014.7,21.8,21.0,19.4,99.0,99.0,2010-12-31 17:50:00
6177,2010,12,31,18,50,148,10.7,12.4,2.24,7.69,5.37,144,1013.9,21.8,21.1,19.8,99.0,99.0,2010-12-31 18:50:00
6178,2010,12,31,19,50,147,11.2,12.9,2.23,7.69,5.57,142,1013.2,21.9,21.2,20.1,99.0,99.0,2010-12-31 19:50:00
6179,2010,12,31,20,50,149,10.6,12.6,2.39,7.69,5.69,134,1012.9,22.0,21.3,20.4,99.0,99.0,2010-12-31 20:50:00
6180,2010,12,31,21,50,150,10.1,11.9,2.53,7.69,5.81,143,1012.7,22.0,21.2,20.5,99.0,99.0,2010-12-31 21:50:00
6181,2010,12,31,22,50,150,10.1,12.0,2.59,7.14,5.88,143,1012.7,22.0,21.3,20.5,99.0,99.0,2010-12-31 22:50:00

In [18]:
df2011 = read_file('data/buoy_data_2011.txt', has_second_header=True) #allows you to a table for each year
df2011.head(6)#allows you to print certain sections of the data0

data/buoy_data_2011.txt has 8736 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2010,12,31,23,50,150,12.2,15.1,2.92,7.69,6.03,137,1014.0,21.7,20.9,20.1,99.0,99.0,2010-12-31 23:50:00
1,2011,1,1,0,50,149,11.1,13.1,2.39,7.14,5.78,147,1014.5,21.7,20.8,20.1,99.0,99.0,2011-01-01 00:50:00
2,2011,1,1,1,50,151,11.3,99.0,2.46,7.69,5.94,144,9999.0,21.8,NaN,20.1,99.0,99.0,2011-01-01 01:50:00
3,2011,1,1,2,50,152,12.8,15.4,99.00,99.00,99.00,999,1014.6,21.7,20.5,20.0,99.0,99.0,2011-01-01 02:50:00
4,2011,1,1,3,50,155,12.1,15.0,99.00,99.00,99.00,999,1014.9,21.8,20.4,20.0,99.0,99.0,2011-01-01 03:50:00
5,2011,1,1,4,50,155,11.7,14.0,2.75,7.14,5.89,148,1014.7,21.6,20.4,19.9,99.0,99.0,2011-01-01 04:50:00

In [19]:
df2012 = read_file('data/buoy_data_2010.txt', has_second_header=True) #allows you to a table for each year
df2012.head(6)#allows you to print certain sections of the data0

data/buoy_data_2010.txt has 6182 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2010,3,31,16,50,165,1.9,3.1,0.05,99.0,2.60,999,1020.6,17.1,17.9,11.8,99.0,99.0,2010-03-31 16:50:00
1,2010,3,31,17,50,177,2.5,4.0,0.05,99.0,2.47,999,1020.1,17.4,18.6,12.1,99.0,99.0,2010-03-31 17:50:00
2,2010,3,31,18,50,173,3.7,4.3,0.04,99.0,2.72,999,1019.6,17.6,19.5,12.6,99.0,99.0,2010-03-31 18:50:00
3,2010,3,31,19,50,177,4.0,5.2,0.07,99.0,2.27,999,1019.4,17.8,19.4,12.9,99.0,99.0,2010-03-31 19:50:00
4,2010,3,31,20,50,173,4.9,6.0,0.12,99.0,2.22,999,1018.9,17.9,19.9,11.6,99.0,99.0,2010-03-31 20:50:00
5,2010,3,31,21,50,178,5.0,6.1,0.16,99.0,2.38,999,1018.6,18.1,19.5,12.0,99.0,99.0,2010-03-31 21:50:00

In [20]:
df2013 = read_file('data/buoy_data_2013.txt', has_second_header=True) #allows you to a table for each year
df2013.head(6)#allows you to print certain sections of the data0

data/buoy_data_2013.txt has 8126 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2012,12,31,23,50,134,1.2,2.2,0.86,5.26,4.59,102,1020.5,20.9,22.3,15.5,99.0,99.0,2012-12-31 23:50:00
1,2013,1,1,0,50,162,2.4,3.0,0.85,5.56,4.62,96,1020.6,21.3,22.4,15.5,99.0,99.0,2013-01-01 00:50:00
2,2013,1,1,1,50,93,3.5,4.8,0.92,5.56,4.76,103,1020.6,20.7,22.4,16.9,99.0,99.0,2013-01-01 01:50:00
3,2013,1,1,2,50,149,6.7,7.8,0.90,5.26,4.65,87,1020.0,21.5,22.4,17.2,99.0,99.0,2013-01-01 02:50:00
4,2013,1,1,3,50,158,7.3,8.5,1.00,5.56,4.57,107,1019.7,21.7,22.4,18.0,99.0,99.0,2013-01-01 03:50:00
5,2013,1,1,4,50,157,8.7,9.7,1.06,5.56,4.61,117,1019.2,21.7,22.4,18.1,99.0,99.0,2013-01-01 04:50:00

In [21]:
df2014 = read_file('data/buoy_data_2014.txt', has_second_header=True) #allows you to a table for each year
df2014.head(6)#allows you to print certain sections of the data0

data/buoy_data_2014.txt has 8223 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2013,12,31,23,50,64,7.3,9.0,99.0,99.0,99.0,999,1026.1,14.3,20.9,999.0,99.0,99.0,2013-12-31 23:50:00
1,2014,1,1,0,50,51,7.0,8.8,99.0,99.0,99.0,999,1026.5,14.6,20.9,999.0,99.0,99.0,2014-01-01 00:50:00
2,2014,1,1,1,50,58,6.6,8.2,99.0,99.0,99.0,999,1026.9,14.9,20.9,999.0,99.0,99.0,2014-01-01 01:50:00
3,2014,1,1,2,50,51,6.4,8.8,99.0,99.0,99.0,999,1027.2,15.4,20.9,999.0,99.0,99.0,2014-01-01 02:50:00
4,2014,1,1,3,50,31,7.7,10.0,99.0,99.0,99.0,999,1026.9,15.1,20.9,999.0,99.0,99.0,2014-01-01 03:50:00
5,2014,1,1,5,50,70,6.8,8.6,99.0,99.0,99.0,999,1025.9,15.6,20.9,999.0,99.0,99.0,2014-01-01 05:50:00

In [22]:
df2015 = read_file('data/buoy_data_2015.txt', has_second_header=True) #allows you to a table for each year
df2015.head(6)#allows you to print certain sections of the data0

data/buoy_data_2015.txt has 8758 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2014,12,31,23,50,11,8.7,10.4,1.14,5.56,4.46,83,1025.7,15.1,21.9,12.8,99.0,99.0,2014-12-31 23:50:00
1,2015,1,1,0,50,13,8.6,10.4,1.14,5.26,4.45,80,1026.2,14.9,21.8,12.3,99.0,99.0,2015-01-01 00:50:00
2,2015,1,1,1,50,25,8.3,10.1,1.20,5.26,4.31,72,1026.6,14.8,21.8,12.2,99.0,99.0,2015-01-01 01:50:00
3,2015,1,1,2,50,21,9.1,10.7,1.23,5.88,4.52,81,1027.2,14.6,21.7,12.4,99.0,99.0,2015-01-01 02:50:00
4,2015,1,1,3,50,32,8.8,11.3,1.35,6.25,4.60,93,1026.9,14.9,21.7,12.7,99.0,99.0,2015-01-01 03:50:00
5,2015,1,1,4,50,45,8.3,9.9,1.51,6.25,4.71,90,1026.5,15.3,21.7,12.7,99.0,99.0,2015-01-01 04:50:00

In [23]:
df2016 = read_file('data/buoy_data_2016.txt', has_second_header=True) #allows you to a table for each year
df2016.head(6)#allows you to print certain sections of the data0

data/buoy_data_2016.txt has 39535 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2015,12,31,23,50,33,10.2,11.9,1.63,6.25,4.60,50,1020.0,18.2,23.2,16.6,99.0,99.0,2015-12-31 23:50:00
1,2016,1,1,0,50,18,11.0,12.6,1.58,5.88,4.59,48,1020.7,17.7,23.2,15.9,99.0,99.0,2016-01-01 00:50:00
2,2016,1,1,1,50,25,10.9,13.2,1.47,5.56,4.34,40,1021.0,16.8,23.3,15.3,99.0,99.0,2016-01-01 01:50:00
3,2016,1,1,2,50,32,9.7,11.1,1.54,5.88,4.48,47,1021.3,16.6,23.3,15.1,99.0,99.0,2016-01-01 02:50:00
4,2016,1,1,3,50,34,9.1,10.8,1.48,5.56,4.55,29,1021.8,17.0,23.3,15.5,99.0,99.0,2016-01-01 03:50:00
5,2016,1,1,4,50,23,9.5,11.3,1.64,6.25,4.74,40,1021.3,16.2,23.3,14.9,99.0,99.0,2016-01-01 04:50:00

In [24]:
df2017 = read_file('data/buoy_data_2017.txt', has_second_header=True) #allows you to a table for each year
df2017.head(6)#allows you to print certain sections of the data0

data/buoy_data_2017.txt has 41943 entries

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE,timestamp
0,2017,1,1,0,0,161,10.0,12.4,99.00,99.00,99.00,999,1014.9,22.6,22.6,18.3,99.0,99.0,2017-01-01 00:00:00
1,2017,1,1,0,10,159,9.8,11.8,99.00,99.00,99.00,999,1014.9,22.7,22.6,18.6,99.0,99.0,2017-01-01 00:10:00
2,2017,1,1,0,20,156,10.1,12.7,99.00,99.00,99.00,999,1014.8,22.7,22.6,18.6,99.0,99.0,2017-01-01 00:20:00
3,2017,1,1,0,30,160,10.2,12.5,99.00,99.00,99.00,999,1015.1,22.8,22.6,18.7,99.0,99.0,2017-01-01 00:30:00
4,2017,1,1,0,40,160,10.2,12.9,1.64,6.25,4.62,999,1015.1,22.8,22.6,18.7,99.0,99.0,2017-01-01 00:40:00
5,2017,1,1,0,50,164,10.1,12.5,99.00,99.00,99.00,999,1015.2,22.9,22.6,18.8,99.0,99.0,2017-01-01 00:50:00

In [25]:
grouped2016=build_median_df(df2016, 'ATMP', 2016)
grouped1996=build_median_df(df1996, 'ATMP', 1996)
grouped2000=build_median_df(df2000, 'ATMP', 2000)
grouped2005=build_median_df(df2005, 'ATMP', 2005)
grouped2010=build_median_df(df2010, 'ATMP', 2010,
                           index=['03-Mar', '04-Apr', '05-May', '06-Jun', '07-Jul', '08-Aug', '09-Sep', '10-Oct', '11-Nov', '12-Dec'])
grouped=pd.concat([grouped1996, grouped2000, grouped2005, grouped2010, grouped2016], axis=1, sort=True)
grouped.plot(figsize=(15,10), kind='line');
import matplotlib.pyplot as plt
import calendar
plt.title("Monthly median air temperature for buoy: LUKE OFFSHORE TEST PLATFORM - 63 NM South of Dauphin Island, AL");
plt.ylabel("Temperature, degrees Celsius");
plt.xticks(np.arange(12), calendar.month_name[1:13], rotation=20);
plt.savefig('42040-airtemp.pdf')